.card-nav {
  text-decoration: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fffafa;
  height: 16em;
  width: 36em;
  margin: 1.2em;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(154, 153, 153);
  color: #686767;
}

.image {
  width: 15em;
  height: 10em;
  margin: 1em 2em;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgb(255, 203, 211);
}

.title {
  font-size: 1.1em;
  margin: 0 2em 1em 2em;
  text-align: center;
}

.description, .date {
  font-size: .85em;
  margin: .25em 2em;
  font-weight: 100;
  text-overflow: ellipsis;
}

.date{
  margin-bottom: 1em;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* For mobile */
@media (max-width: 400px) {
  .card {
    width: 20em; 
    height: 10em;
  }
  
  .image {
    width: 6em;
    height: 5.5em;
    margin: .5em
  }

  .title {
    font-size: .75em;
    margin: .5em;
  }

  .description, .date {
    font-size: .7em;
    margin: .25em;
  }

  .date{
    margin-bottom: 1em;
  }
}

/* For tablets */
@media (min-width: 750px) and (max-width: 950px) {
  .card {
    width: 21em;
    height: 10.6em;
  }

  .image {
    width: 6em;
    height: 5.5em;
    margin: .5em
  }

  .title {
    font-size: .75em;
    margin: .5em;
  }

  .description, .date {
    font-size: .7em;
    margin: .25em;
  }

  .date{
    margin-bottom: 1em;
  }
}